.db-port-table-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
    color: #2d1940;
    margin-bottom: 2rem;
    }

.port-wrap{
    width: 96vw;
    height: auto; 
    display: flex;
    justify-content: center;
    
   
   
}

.trade-table{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.spot-table-wrap.light{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 2rem;
}

.spot-table-wrap.dark{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    margin-bottom: 2rem;
}